@use 'variables' as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
  scroll-behavior: smooth;

  // ❌ Elimina width: 100vw y height: 100vh
  // Se deja que el contenido lo defina
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  font-size: 2rem;
  font-style: normal;
  font-optical-sizing: auto;

  overflow-x: hidden; // ✅ evita scroll lateral
  margin: 0;
  padding: 0;
}
