$fuente_principal : "Monserrat", sans-serif;


//Colores
$negro: #000;
$white: #ffff;
$rojoVino: #6D0505;
$beich: #d4c38b;
$azulOscuro: #032B44;
$azulClaro: #97ABCB;
$dorado: #AF9510;
$rojo:#E94823;
$metalico: #454F55;
$verde: #33CC33;


// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;